name: Lint
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  push:
    branches:
      - "**"

jobs:
  pint:
    name: Pint
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
      
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"
          tools: composer:v2
          coverage: none
      
      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist --no-progress
      
      - name: Pint
        run: vendor/bin/pint --test

  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [8.2, 8.3, 8.4, 8.5]
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
      
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none
      
      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist --no-progress ${{ matrix.php == '8.5' && '--ignore-platform-reqs' || '' }}
      
      - name: PHPStan
        run: vendor/bin/phpstan analyse --memory-limit=-1 --error-format=github
